:root {
    --fontFamily: 'Outfit Variable', sans-serif;
    --fontSize: 16px;

    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1rem;

    /* COLORS */
    --color-primary-50: 240, 246, 254;
    --color-primary-100: 221, 235, 252;
    --color-primary-200: 194, 220, 251;
    --color-primary-300: 152, 199, 248;
    --color-primary-400: 103, 169, 243;
    --color-primary-500: 68, 136, 237;
    --color-primary-600: 46, 106, 226;
    --color-primary-700: 38, 87, 210;
    --color-primary-800: 37, 71, 168;
    --color-primary-900: 35, 62, 133;
    --color-primary-950: 26, 40, 81;

    --color-base-50: 246, 247, 249;
    --color-base-100: 236, 238, 242;
    --color-base-200: 213, 218, 226;
    --color-base-300: 176, 186, 201;
    --color-base-400: 133, 148, 171;
    --color-base-500: 102, 119, 145;
    --color-base-600: 81, 96, 120;
    --color-base-700: 66, 78, 98;
    --color-base-800: 57, 66, 83;
    --color-base-900: 51, 58, 71;
    --color-base-950: 34, 38, 47;

    --color-danger-50: 254, 242, 245;
    --color-danger-100: 254, 229, 234;
    --color-danger-200: 252, 207, 219;
    --color-danger-300: 249, 168, 188;
    --color-danger-400: 244, 120, 154;
    --color-danger-500: 233, 53, 107;
    --color-danger-600: 215, 39, 100;
    --color-danger-700: 182, 26, 84;
    --color-danger-800: 152, 25, 76;
    --color-danger-900: 130, 25, 71;
    --color-danger-950: 72, 9, 35;

    --color-successful-50: 239, 254, 247;
    --color-successful-100: 218, 254, 239;
    --color-successful-200: 184, 250, 221;
    --color-successful-300: 129, 244, 195;
    --color-successful-400: 67, 229, 160;
    --color-successful-500: 26, 205, 129;
    --color-successful-600: 15, 169, 104;
    --color-successful-700: 16, 133, 84;
    --color-successful-800: 18, 105, 69;
    --color-successful-900: 17, 86, 58;
    --color-successful-950: 3, 48, 31;

    /* TRANSITIONS */
    --transition-default: 0.2s ease-in-out all;
    --transition-snap: 0.4s cubic-bezier(0,1,0,1) all;
}
